[Unit]
Description=LogMonitor - Outil de surveillance de logs Linux
After=network.target

[Service]
Type=forking
# Sera remplacé par install.sh avec le vrai USER et HOME
User=%i
WorkingDirectory=%h/Projet_tuteuré
ExecStart=%h/.local/bin/logmonitor start
ExecStop=%h/.local/bin/logmonitor stop
PIDFile=/tmp/logmonitor/logmonitor.pid
Restart=on-failure
RestartSec=10

# Logs vers journald
StandardOutput=journal
StandardError=journal
SyslogIdentifier=logmonitor

[Install]
WantedBy=multi-user.target
