[Unit]
Description=LogMonitor - Outil de surveillance de logs Linux
After=network.target

[Service]
Type=simple
User=logmonitor
Group=logmonitor
WorkingDirectory=/opt/logmonitor
ExecStart=/opt/logmonitor/venv/bin/python -m logmonitor.cli.commands start --daemon
ExecStop=/opt/logmonitor/venv/bin/python -m logmonitor.cli.commands stop
Restart=on-failure
RestartSec=10

# Sécurité
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
ReadWritePaths=/var/log/logmonitor /opt/logmonitor/data /opt/logmonitor/reports

# Logs
StandardOutput=journal
StandardError=journal
SyslogIdentifier=logmonitor

[Install]
WantedBy=multi-user.target
