# Fichier de configuration des identifiants
# Modifiez ce fichier pour changer les credentials de connexion

users:
  admin: logmonitor123
  # Ajoutez d'autres utilisateurs ici
  # exemple:
  #   user1: password1
  #   user2: password2
